<ion-header
  class="app-header ion-no-border"
>
  <ion-toolbar class="app-toolbar" [class.bottom-padding]="addToolbarBottomPadding()">
    @if(showBackButton()){
    <ion-buttons shape="round" slot="start">
      <ion-back-button
        mode="ios"
        [defaultHref]="defaultHref()"
        text=""
        name="chevron-back"
        class="app-back-button"
        (click)="backClick.emit($event)"
      ></ion-back-button>
    </ion-buttons>
    } @if(showCustomBackButton()){
    <ion-buttons shape="round" slot="start" class="app-buttons">
      <ion-button class="app-back-button" (click)="backClick.emit($event)">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    } @if (title()) {
    <ion-title
      mode="ios"
      [ngClass]="{ 'app-header-title': true, 'pl-0': hasMultipleEndButtons() }"
    >
      {{ title() }}
    </ion-title>
    } @if (innerHtmlTitle()) {
    <ion-title
      mode="ios"
      [ngClass]="{ 'app-header-title': true, 'pl-0': hasMultipleEndButtons() }"
      [innerHTML]="innerHtmlTitle()"
    ></ion-title>
    } @if(showEditButton() || showSaveButton() || selectedInverter() || showDeleteButton()){
    <ion-buttons slot="end" class="flex gap-1">
      @if(showEditButton()){
      <ion-button (click)="editClick.emit($event)" class="primary-action-btn">
        {{ editButtonText() }}
      </ion-button>
      } @if(showSaveButton()){
      <ion-button
        (click)="saveClick.emit($event)"
        class="primary-action-btn"
        [disabled]="isSaveButtonDisabled()"
      >
        Save
      </ion-button>
      } @if(selectedInverter()){
      <ion-button class="plain-text-button">
        {{ selectedInverter() }}
      </ion-button>
      }
      @if(showDeleteButton()){
      <ion-button class="plain-text-button" (click)="deleteClick.emit($event)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
      }
    </ion-buttons>
    }
  </ion-toolbar>
  <ng-content></ng-content>
</ion-header>
