// .custom-segment {
//   padding: 2px;
//   min-height: 48px;
// }

// ion-segment-button {
//   font-size: 15px;
//   font-weight: 500;
//   --indicator-box-shadow: var(--box-shadow3);
// }

// .segment-wrapper {
//   display: flex;
//   flex-direction: column;
//   gap: 1rem;
//   padding-top: 1rem;
//   font-family: 'Poppins', sans-serif;
// }

.custom-segment {
  --background: transparent;
  border-radius: 4px;
  min-height: 40px;
  border: 1px solid var(--ion-line-color);
}
ion-segment-button {
  --indicator-color: var(--black);
  --color: var(--light-text-step-100);
  --color-checked: var(--ion-background-color);
  min-height: 40px;
  font-size: 14px;
  font-weight: 400;
  --border-radius: 0;
  --font-family: 'Poppins', sans-serif !important;
  margin: 0;
  &::part(indicator) {
    padding: 0 !important;
  }
}

// Dark mode specific styles
:host-context(.dark) {
  .segment-wrapper {
    padding-top: 0 !important;

    .custom-segment {
      border: none !important;
      --background: var(--blue-muted) !important;
    }

    ion-segment-button {
      --indicator-color: var(--blue-dark) !important;
      --color: var(--text-secondary) !important;
      --color-checked: var(--text-secondary) !important;
    }
  }
}