/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@use "@ionic/angular/css/core.css" as *;

/* Basic CSS for apps built with Ionic */
@use "@ionic/angular/css/normalize.css" as *;
@use "@ionic/angular/css/structure.css" as *;
@use "@ionic/angular/css/typography.css" as *;
@use "@ionic/angular/css/display.css" as *;

/* Optional CSS utils that can be commented out */
@use "@ionic/angular/css/padding.css" as *;
@use "@ionic/angular/css/float-elements.css" as *;
@use "@ionic/angular/css/text-alignment.css" as *;
@use "@ionic/angular/css/text-transformation.css" as *;
@use "@ionic/angular/css/flex-utils.css" as *;

@use "theme/variables";
@use "theme/dark-mode-variable";
@use "theme/button";
@use "theme/app";

.confirm-middle-popover-modal {
  --width: 90%;
  --height: fit-content;
  --max-width: 320px;
  --border-radius: 12px;
  --backdrop-opacity: 0.6;
  --box-shadow: var(--box-shadow2);
}

ion-searchbar.app-primary-searchbar {
  .searchbar-input-container {
    min-height: 44px !important;
    .searchbar-input {
      --placeholder-color: var(--place-holder-color) !important;
      border: 1px solid var(--ion-line-color) !important;
      padding-inline-start: 40px !important;
    }
    .searchbar-search-icon {
      color: var(--place-holder-color) !important;
      margin-inline-start: 8px !important;
      width: 22px !important;
      
    }
    .searchbar-clear-button{
      inset-inline-end: 8px !important;
      color: var(--place-holder-color) !important;
      ion-icon {
        width: 22px !important;
      }
    }
  }
}

ion-input.app-primary-input.ion-dirty.ion-touched.ion-invalid {
  border-color: var(--ion-color-danger) !important;
}

/* EPT AI Chatbox UI Fixes */

#eptai-chat-container:not(.minimized) {
  margin: auto !important;
  justify-content: center !important;
  display: flex !important;
  width: auto !important;
  gap: 8px !important;
  padding: 16px !important;
  font-family: poppins !important;
}

#eptai-chat-container {
  &.minimized {
    display: none !important;
  }
}